# Homework 3

## Problem 1

(A) The neural net makes fewer total mistakes (8) than the new algorithm (12).

(B) However, the new algorithm only mistakenly identified a bird as a person once, whereas the neural net made this mistake three times. Since this is the most costly kind of error for the zoo, this means that the new algorithm is a better fit for this application.

(C) Over a period of 990 bird events and 10 people events, if the misidentification rates remained similar to as before, then the new truth tables would be something like as follows. Note that the new algorithm now makes fewer _total_ misidentifications as well.

In [7]:
import pandas as pd
pd.DataFrame(
    [[925, 1],
     [65, 9]],
    ["NN Bird", "NN Person"],
    ["True Bird", "True Person"]
)

           True Bird  True Person
NN Bird          925            1
NN Person         65            9

In [8]:
pd.DataFrame(
    [[968, 2],
     [22, 8]],
    ["NA Bird", "NA Person"],
    ["True Bird", "True Person"]
)

           True Bird  True Person
NA Bird          968            2
NA Person         22            8

## Problem 2

(A) The sum of $k$ identical exponentially distributed variables is Erlang distributed with shape parameter $k$.

(B) The ratio of two standard normally distributed variables is Cauchy distributed with location 0 and scale 1.

(C) We want to know the distribution of $\sqrt{X^2 + Y^2}$. In general this could be very messy, however if the distributions of $X$ and $Y$ are both identical, zero-mean Gaussians, then the amplitude will be Rayleigh distributed. More generally, if the distributions are iden tical but do _not_ have mean zero, then there is no known closed form expression for the norm of the vector, but the norm-squared $X^2 + Y^2$ obeys the noncentral chi-squared distribution.